.App-body {
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding: 20px 20px 20px 40px;
  border-top: 5px red solid;
}

.App-body p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.App-body .form {
  margin: 20px 0;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.App-body .form label {
  padding-right: 10px;
}

#email,
#password {
  margin-right: 10px;
}

.form button {
  cursor: pointer;
}
