.notifications {
     border: dotted;
    border-color: crimson;
    margin-top: 1%;
    padding-left: 1rem;
    margin-bottom: 1rem;
    width: 40%;
    margin-left: 59%;
}

.notification-title {
  float: right;
  position: absolute;
  right: 10px;
  top: 2px;
}

.notifications button {
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 22px;
  background: transparent;
  border: none;
}

.close-icon {
    width: 1rem;
}


.notifications ul {
    color: #e1003c;
}

.notifications ul li[data-priority=default]{
    color: blue;
}