.menuItem {
  text-align: right;
}

.Notifications {
    border: dotted;
    border-color: crimson;
    margin-top: 1%;
    padding-left: 1rem;
    margin-bottom: 1rem;
    width: 40%;
    margin-left: 59%;

}

.Notifications button {
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 20px;
  background: transparent;
  border: none,
}


[data-notification-type="default"] {
    color: blue;
  }

[data-notification-type="urgent"] {
color: red;
}

.notification-title {
  float: right;
  position: absolute;
  right: 10px;
  top: 2px;
}