.App-body {
  border-top: solid;
  border-bottom: solid;
  border-color: #e0454b;
  min-height: 50vmax;
  padding: 30px;
}

.email {
  margin-right: 0.5rem;
  font-weight: bold;
}

.password,
.label-button {
  margin: 0.5rem;
  font-weight: bold;
}
