.App-header img {
  height: 30vmin;
}

.App-header {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-family: sans-serif;
  color: #e1003c;
}

.App-body {
  border-top: solid;
  border-bottom: solid;
  border-color: #e0454b;
  height: 50vh;
  padding: 30px;
}

.App-body .App-form {
    margin: 30px 0;
}

.App-footer {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: sans-serif;
}

.App-footer p {
  font-size: 1.2rem
}

.App-body .form label{
    padding-right: 10px;
}
  
#email, #password {
    margin-right: 10px
}
  
.form button {
    cursor: pointer;
}

#email, #password {
    margin-left: 10px;
}